
@{
    <h1>Welcome @ViewBag.user</h1>
    var users = ViewBag.users;
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><strong>Home</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Content" asp-action="MyPosts">My Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Content" asp-action="Friends">Friends</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Content" asp-action="User">Profile</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <div>
        @{
            if (users != null)
            {
                foreach (var item in users)
                {
                <div>
                    <img src="@item.media.Replace("wwwroot/", "/")" width="500px" height="500px" />
                    <h3>@item.desc</h3>
                    @{
                        if (@item.poster == @ViewBag.user)
                        {<h4>Posted by You</h4>}
                        else
                        {<h4>Posted by @item.poster</h4>}
                    }

                </div>
                }

            }
            else
            {
                <h1>bruh, you don't have any posts yet</h1>
            }
        }
    </div>
</main>